<section> <!-- Section 2 Start -->
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 order-2 order-md-1">
			<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1609620705/JetWheelReelDotCom/8thStep_lhteta.jpg" class="img-fluid">
		</div>
		<div class="col-md-6 text-center order-1 order-md-2">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Seventh Step</h2>
					<i class="fas fa-fighter-jet fa-rotate-180 d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">To remove the old wheel, extract the cotter pin and the nut. Once liberated, the wheel is going to be dead set on taking at least one of the roller bearings with it and dropping it on the ground. It's important that the bearings do not drop from any height because then they will have to be replaced and everything in aviation costs hundreds if not thousands of dollars.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 text-center">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Eighth Step</h2>
					<i class="fas fa-fighter-jet d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">Once the old wheel assembly and all associated mounting components have been removed from the aircraft, ensure that the area has been cleaned and quickly inspect for any signs of damage.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1609620710/JetWheelReelDotCom/9thStep_q5la2y.jpg" class="img-fluid">
		</div>
	</div>
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 order-2 order-md-1">
			<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1609620707/JetWheelReelDotCom/10thStep_uupaby.jpg" class="img-fluid">
		</div>
		<div class="col-md-6 text-center order-1 order-md-2">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Ninth Step</h2>
					<i class="fas fa-fighter-jet fa-rotate-180 d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">With the old wheel removed, now would be a good time to group together the bearings and hardware from the unserviceable wheel so that it stays grouped together. Cleaning the old bearings in mineral spirits will allow you to properly inspect them for any significant or subtle damage.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 text-center">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Tenth Step</h2>
					<i class="fas fa-fighter-jet d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">It's important to keep the pieces of cotter pin that were pulled out of the old wheel installation so that the jet doesn't run over a piece of that sharp metal and scrap another tire. If the old bearings are deemed serviceable then they can be regreased and placed in a bag so that they don't get mixed up with the ones that came with the new wheel.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1609620710/JetWheelReelDotCom/11thStep_mw3cs3.jpg" class="img-fluid">
		</div>
	</div>
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 order-2 order-md-1">
			<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1609620711/JetWheelReelDotCom/12thStep_axmtya.jpg" class="img-fluid">
		</div>
		<div class="col-md-6 text-center order-1 order-md-2">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Eleventh Step</h2>
					<i class="fas fa-fighter-jet fa-rotate-180 d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">When installing the new wheel, its important to make sure that the bearing stays coated with grease and it's even more important that nothing else gets coated with grease during the process of installing the roller bearings. Wipe off any grease that may have gotten on anything that isn't a wheel bearing.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 text-center">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Twelfth Step</h2>
					<i class="fas fa-fighter-jet d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">Firmly grasp the heavy new wheel in one arm and awkwardly crouch over it while under the wing in order to position the wheel into the keys of the brake discs. If this step isn't performed correctly then the aircraft will most likely jettison the wheel during takeoff.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1609620699/JetWheelReelDotCom/13thStep_nawi66.jpg" class="img-fluid">
		</div>
	</div>
</section> <!-- Section 2 End -->