	<section> <!-- Section 3 Start -->
		<div class="row align-items-center mb-5 mb-md-4">
			<div class="col-md-6 order-2 order-md-1">
				<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1610120581/JetWheelReelDotCom/14thStep_ehzwla.jpg" class="img-fluid">
			</div>
			<div class="col-md-6 text-center order-1 order-md-2">
				<div class="row justify-content-center">
					<div class="procedure col-10 col-lg-8">
						<h2 class="mb-3 mb-md-2">Thirteenth Step</h2>
						<i class="fas fa-fighter-jet fa-rotate-180 d-none d-md-block mb-3"></i>
						<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
						<p class="mb-4">Once the new wheel has been mounted with the nut tightened just until it reaches the safety hole, install the cotter pin and ensure that the wheel is able to rotate freely before cutting the ends just in case the wheel has to be reseated against the brake discs. If the wheel doesn't spin freely then the tire will explode on takeoff.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row align-items-center mb-5 mb-md-4">
			<div class="col-md-6 text-center">
				<div class="row justify-content-center">
					<div class="procedure col-10 col-lg-8">
						<h2 class="mb-3 mb-md-2">Fourteenth Step</h2>
						<i class="fas fa-fighter-jet d-none d-md-block mb-3"></i>
						<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
						<p class="mb-4">If the wheel rotates freely then it's time to clip the ends of the cotter pin to finalize the wheel's installation. At this point it's a good idea to make sure that there aren't any extra parts lying around that were meant to be installed along with the wheel.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1610120569/JetWheelReelDotCom/15thStep_s7mozd.jpg" class="img-fluid">
			</div>
		</div>
		<div class="row align-items-center mb-5 mb-md-4">
			<div class="col-md-6 order-2 order-md-1">
				<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1610120592/JetWheelReelDotCom/16thStep_bt6bls.jpg" class="img-fluid">
			</div>
			<div class="col-md-6 text-center order-1 order-md-2">
				<div class="row justify-content-center">
					<div class="procedure col-10 col-lg-8">
						<h2 class="mb-3 mb-md-2">Fifteenth Step</h2>
						<i class="fas fa-fighter-jet fa-rotate-180 d-none d-md-block mb-3"></i>
						<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
						<p class="mb-4">Once you've reached this point, if you notice that the little red dot on the tire doesn't line up with the valve; then that means the wheel was assembled incorrectly and needs to be taken off the aircraft, tore down and rebuilt. The red dot indicates the light spot on the tire. If any of the neon yellow torque seals are broken, that means that one or more of the bolts are loose and the wheel may explode at any moment.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row align-items-center mb-5 mb-md-4">
			<div class="col-md-6 text-center">
				<div class="row justify-content-center">
					<div class="procedure col-10 col-lg-8">
						<h2 class="mb-3 mb-md-2">Final Step</h2>
						<i class="fas fa-fighter-jet d-none d-md-block mb-3"></i>
						<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
						<p class="mb-4">Because the aircraft is currently jacked up, the strut is fully extended and may be temporarily stuck. Once the aircraft has been lowered, it's important to quickly get the jack out from under the aircraft and run out from under the wing because the side of the aircraft will suddenly and quickly drop at any second. Wiping a little bit of hydraulic fluid onto the strut before the aircraft is lowered off the jack will potentially prevent the wing from unexpectedly dropping a foot or so a few minutes after the jack is put away.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1610120590/JetWheelReelDotCom/17thStep_q5buoq.jpg" class="img-fluid">
			</div>
		</div>
		<div class="row align-items-center mb-4">
			<div class="col-md-6 order-2 order-md-1">
				<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1614265515/JetWheelReelDotCom/18thStep_xxpdzs.jpg" class="img-fluid">
			</div>
			<div class="col-md-6 text-center order-1 order-md-2">
				<div class="row justify-content-center">
					<div class="procedure col-10 col-lg-8">
						<h2 class="mb-3 mb-md-2">Wheel Reel Advice</h2>
						<i class="fas fa-fighter-jet fa-rotate-180 d-none d-md-block mb-3"></i>
						<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
						<p class="mb-4">It's important to note that each aircraft has different safety requirements when it comes to performing a wheel change procedure. This warbird, for instance, requires a tail stand to keep it from being destroyed while it's on jacks. Always make sure you have a serviceable replacement wheel before removing the old one just in case something goes terribly wrong.</p>
					</div>
				</div>
			</div>
		</div>
	</section> <!-- Section 3 End -->
</section> <!-- Section 1 End -->