<% layout('layouts/boilerplate') %>
<section class="container-fluid px-0"> <!-- Section 1 Start -->
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 order-2 order-md-1">
			<img src="../assets/img/steps/2ndStep.jpg" class="img-fluid">
		</div>
		<div class="col-md-6 text-center order-1 order-md-2">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">First Step</h2>
					<i class="fas fa-fighter-jet fa-rotate-180 d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">The first and most crucial step to initiate the endeavor of changing the wheel on your private jet is to locate the skidded tire and jack up the aircraft. If you position the jack in the wrong area then you'll probably wind up with at the very least a puncture going straight through the skin of the wing or at the very worst you'll receive a non-stop delivery of thousands of pounds of jet fuel all over the floor. If this happens then you might as well hold off on performing the rest of the wheel change procedure.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 text-center">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Second Step</h2>
					<i class="fas fa-fighter-jet d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">Once the jack is in position, depending on how many components there are installed on the bottom of the jet, you're going to want to read the placard to ensure that you have in fact located the jack pad. If you've correctly identified the jack pad, there's a decent chance that you'll also be rewarded with a caution message letting you know how to save the private jet's owner thousands of dollars and maybe even a mechanic or two.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<img src="../assets/img/steps/3rdStep.jpg" class="img-fluid">
		</div>
	</div>
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 order-2 order-md-1">
			<img src="../assets/img/steps/4thStep.jpg" class="img-fluid">
		</div>
		<div class="col-md-6 text-center order-1 order-md-2">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Third Step</h2>
					<i class="fas fa-fighter-jet fa-rotate-180 d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">Before removing the old wheel assembly, it's crucial to ensure that there is a serviceable spare wheel built up along with it's accompanying paperwork. Once a wheel has been assembled, always let it sit for a couple hours to make sure it doesn't leak.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 text-center">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Fourth Step</h2>
					<i class="fas fa-fighter-jet d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">It's important to check the new wheel for any anomalies before installing it onto the aircraft because if it fails; you're going to want to be the one who's pointing fingers instead of answering a judge's questions in federal court.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<img src="../assets/img/steps/5thStep.jpg" class="img-fluid">
		</div>
	</div>
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 order-2 order-md-1">
			<img src="../assets/img/steps/6thStep.jpg" class="img-fluid">
		</div>
		<div class="col-md-6 text-center order-1 order-md-2">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Fifth Step</h2>
					<i class="fas fa-fighter-jet fa-rotate-180 d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">You want to see Mobil 100 grease ooze out from between the bearing's rollers as the knob is being firmly pressed down. Bearing greasers are notorious for being able to quickly unload grease all over the place so always be careful how much pressure is applied and make sure not to press down at an angle.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 text-center">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Sixth Step</h2>
					<i class="fas fa-fighter-jet d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">Once both roller bearings are completely coated in grease, it's good forward thinking to make sure they're ready for install for if you happen to find yourself crouched in a weird position under a private jet while holding a fifty pound wheel assembly in one hand and using most of your concentration to keep it aligned with the brake disc keys.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<img src="../assets/img/steps/7thStep.jpg" class="img-fluid">
		</div>
	</div>